h2 {
  color: rgb(151, 189, 202);
}
h1 {
  color: blue;
}
.intro {
 border: 3px dashed lavenderblush;
 padding: 10px;
 color: lavender;
 font-style: italic;
 text-align: center;
 font-family: sans-serif;
 float: left;
 background-color: rgb(215, 174, 215);
}
img {
  float: left;
  width: 300px;
  border: 5px solid rgb(171, 171, 248);
  border-radius: 10px;
}
body {
  text-align: center;
  color: rgb(77, 41, 41);
  background-color: lavender;
}
.sidebar {
  width: 30%;
  list-style-position: inside;
  float: right;
  background-color: rgba(255, 255, 0, 0.335);
  text-align: center;
  border: 2px solid salmon;
  border-radius: 50px;
  padding: 20px;
}
.column {
  border: 5px solid rgb(171, 171, 248);
  width: 50%;
  float: left;
  border-radius: 15px;
  padding: 5px;
  margin: 5%;
  background-color: lightgreen;
  float: left;
}