h2 {
  color: rgb(151, 189, 202);
}
h1 {
  color: blue;
}
.intro {
 color: lightcoral;
 font-style: italic;
 text-align: left;
 font-family: sans-serif;
 float: left;
}
img {
  float: left;
  width: 300px;
}
body {
  text-align: center;
  color: rgb(77, 41, 41);
  background-color: lavender;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
  text-align: left;
}
.column {
  width: 300px;
  float: left;
}